<div ng-app="app">
	<div ng-view></div>	
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
{{#if settings.production}}
<script src="/js/build/rtr.min.js?v=2"></script>
{{else}}
<script src="/js/app/app.js"></script>
<script src="/js/app/route-config.js"></script>
<script src="/js/app/inspectores/inspectores.js"></script>
<script src="/js/app/titulares/titulares.js"></script>
<script src="/js/app/remisiones/remisiones.js"></script>
<script src="/js/app/cats/cats.js"></script>
<script src="/js/app/materia/materia.js"></script>
<script src="/js/app/services/api-service.js"></script>
{{/if}}
<script src="/bower/ngDialog/js/ngDialog.min.js"></script>
<script src="/bower/Chart.js/Chart.js"></script>
<script src="/bower/angular-chart.js/dist/angular-chart.js"></script>
<link href="/bower/ngDialog/css/ngDialog.min.css" rel="stylesheet" />
<link href="/bower/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/bower/angular-chart.js/dist/angular-chart.css">